.cache/
.vscode/
.DS_Store

# for rust
Cargo.lock
src/parameterized_base_deps/rust_traits_serializable/target/
src/inner_class_deps/rust_traits_same_function_name/target/

# for build
build/
thirdparty/
